syapse_pipelines/pl_silver_create_trip_data_green/pl_silver_create_trip_data_green.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"workspaceName":{"type":"string","metadata":"Workspace name","defaultValue":"synapseproj-ws"},"dl_serverless_sql_pool_db_nyc_taxi_ldw":{"type":"string"},"ls_synapsedl":{"type":"string"}},"variables":{"workspaceId":"[concat('Microsoft.Synapse/workspaces/', parameters('workspaceName'))]"},"resources":[{"name":"[concat(parameters('workspaceName'), '/pl_silver_create_trip_data_green')]","type":"Microsoft.Synapse/workspaces/pipelines","apiVersion":"2019-06-01-preview","properties":{"activities":[{"name":"Get Trip Year and Month","type":"Script","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"linkedServiceName":{"referenceName":"[parameters('dl_serverless_sql_pool_db_nyc_taxi_ldw')]","type":"LinkedServiceReference"},"typeProperties":{"scripts":[{"type":"Query","text":"USE nyc_taxi_ldw;\n\nSELECT DISTINCT\n   year,\n  month\nFROM bronze.vw_trip_data_green_csv\nORDER BY year, month;"}],"scriptBlockExecutionTimeout":"02:00:00"}},{"name":"ForEach Year and Month","type":"ForEach","dependsOn":[{"activity":"Get Trip Year and Month","dependencyConditions":["Completed"]}],"userProperties":[],"typeProperties":{"items":{"value":"@activity('Get Trip Year and Month').output.resultSets[0].Rows","type":"Expression"},"isSequential":false,"batchCount":5,"activities":[{"name":"Delete Partition","type":"Delete","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"dataset":{"referenceName":"ds_nyc_taxi_data_dynamic","type":"DatasetReference","parameters":{"p_folder_path":{"value":"silver/trip_data_green/year=@{item().year}/month=@{item().month}","type":"Expression"}}},"enableLogging":false,"storeSettings":{"type":"AzureBlobFSReadSettings","recursive":true,"enablePartitionDiscovery":false}}},{"name":"Create Partition","type":"SqlServerStoredProcedure","dependsOn":[{"activity":"Delete Partition","dependencyConditions":["Completed"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"storedProcedureName":"[[silver].[usp_silver_trip_data_green]","storedProcedureParameters":{"month":{"value":{"value":"@item().month","type":"Expression"},"type":"String"},"year":{"value":{"value":"@item().year","type":"Expression"},"type":"String"}}},"linkedServiceName":{"referenceName":"[parameters('dl_serverless_sql_pool_db_nyc_taxi_ldw')]","type":"LinkedServiceReference"}}]}},{"name":"Create Silver View","type":"Script","dependsOn":[{"activity":"ForEach Year and Month","dependencyConditions":["Completed"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"linkedServiceName":{"referenceName":"[parameters('dl_serverless_sql_pool_db_nyc_taxi_ldw')]","type":"LinkedServiceReference"},"typeProperties":{"scripts":[{"type":"Query","text":"USE nyc_taxi_ldw;"},{"type":"Query","text":"DROP VIEW IF EXISTS silver.vw_trip_data_green;"},{"type":"Query","text":"CREATE VIEW silver.vw_trip_data_green\nAS\nSELECT\n    result.filepath(1) AS year,\n    result.filepath(2) AS month,\n    result.*\nFROM\n    OPENROWSET(\n        BULK 'silver/trip_data_green/year=*/month=*/*.parquet',\n        DATA_SOURCE = 'nyc_taxi_src',\n        FORMAT = 'PARQUET'\n    )\n    WITH (\n        vendor_id INT,\n        lpep_pickup_datetime datetime2(7),\n        lpep_dropoff_datetime datetime2(7),\n        store_and_fwd_flag CHAR(1),\n        rate_code_id INT,\n        pu_location_id INT,\n        do_location_id INT,\n        passenger_count INT,\n        trip_distance FLOAT,\n        fare_amount FLOAT,\n        extra FLOAT,\n        mta_tax FLOAT,\n        tip_amount FLOAT,\n        tolls_amount FLOAT,\n        ehail_fee INT,\n        improvement_surcharge FLOAT,\n        total_amount FLOAT,\n        payment_type INT,\n        trip_type INT,\n        congestion_surcharge FLOAT\n  ) AS [result];"}],"scriptBlockExecutionTimeout":"02:00:00"}}],"policy":{"elapsedTimeMetric":{}},"annotations":[],"lastPublishTime":"2024-01-02T08:36:21Z"},"dependsOn":["[concat(variables('workspaceId'), '/datasets/ds_nyc_taxi_data_dynamic')]"]},{"name":"[concat(parameters('workspaceName'), '/ds_nyc_taxi_data_dynamic')]","type":"Microsoft.Synapse/workspaces/datasets","apiVersion":"2019-06-01-preview","properties":{"linkedServiceName":{"referenceName":"[parameters('ls_synapsedl')]","type":"LinkedServiceReference"},"parameters":{"p_folder_path":{"type":"string"}},"annotations":[],"type":"Parquet","typeProperties":{"location":{"type":"AzureBlobFSLocation","folderPath":{"value":"@dataset().p_folder_path","type":"Expression"},"fileSystem":"nyc-taxi-data"},"compressionCodec":"snappy"},"schema":[]},"dependsOn":[]}]}