syapse_pipelines/pl_gold_create_trip_data_green/pl_gold_create_trip_data_green.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"workspaceName":{"type":"string","metadata":"Workspace name","defaultValue":"synapseproj-ws"},"dl_serverless_sql_pool_db_nyc_taxi_ldw":{"type":"string"},"ls_synapsedl":{"type":"string"}},"variables":{"workspaceId":"[concat('Microsoft.Synapse/workspaces/', parameters('workspaceName'))]"},"resources":[{"name":"[concat(parameters('workspaceName'), '/pl_gold_create_trip_data_green')]","type":"Microsoft.Synapse/workspaces/pipelines","apiVersion":"2019-06-01-preview","properties":{"activities":[{"name":"Get Trip Year and Month","type":"Script","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"linkedServiceName":{"referenceName":"[parameters('dl_serverless_sql_pool_db_nyc_taxi_ldw')]","type":"LinkedServiceReference"},"typeProperties":{"scripts":[{"type":"Query","text":"USE nyc_taxi_ldw;\n\nSELECT DISTINCT\n   year,\n  month\nFROM bronze.vw_trip_data_green_csv\nORDER BY year, month;"}],"scriptBlockExecutionTimeout":"02:00:00"}},{"name":"ForEach Year and Month","type":"ForEach","dependsOn":[{"activity":"Get Trip Year and Month","dependencyConditions":["Completed"]}],"userProperties":[],"typeProperties":{"items":{"value":"@activity('Get Trip Year and Month').output.resultSets[0].Rows","type":"Expression"},"isSequential":false,"batchCount":5,"activities":[{"name":"Delete Partition","type":"Delete","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"dataset":{"referenceName":"ds_nyc_taxi_data_dynamic","type":"DatasetReference","parameters":{"p_folder_path":{"value":"gold/trip_data_green/year=@{item().year}/month=@{item().month}","type":"Expression"}}},"enableLogging":false,"storeSettings":{"type":"AzureBlobFSReadSettings","recursive":true,"enablePartitionDiscovery":false}}},{"name":"Create Partition","type":"SqlServerStoredProcedure","dependsOn":[{"activity":"Delete Partition","dependencyConditions":["Completed"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"storedProcedureName":"[[gold].[usp_gold_trip_data_green]","storedProcedureParameters":{"month":{"value":{"value":"@item().month","type":"Expression"},"type":"String"},"year":{"value":{"value":"@item().year","type":"Expression"},"type":"String"}}},"linkedServiceName":{"referenceName":"[parameters('dl_serverless_sql_pool_db_nyc_taxi_ldw')]","type":"LinkedServiceReference"}}]}},{"name":"Create Silver View","type":"Script","dependsOn":[{"activity":"ForEach Year and Month","dependencyConditions":["Completed"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"linkedServiceName":{"referenceName":"[parameters('dl_serverless_sql_pool_db_nyc_taxi_ldw')]","type":"LinkedServiceReference"},"typeProperties":{"scripts":[{"type":"Query","text":"USE nyc_taxi_ldw;"},{"type":"Query","text":"DROP VIEW IF EXISTS gold.vw_trip_data_green;"},{"type":"Query","text":"CREATE VIEW gold.vw_trip_data_green\nAS\nSELECT\n    result.filepath(1) AS year,\n    result.filepath(2) AS month,\n    result.*\nFROM\n    OPENROWSET(\n        BULK 'gold/trip_data_green/year=*/month=*/*.parquet',\n        DATA_SOURCE = 'nyc_taxi_src',\n        FORMAT = 'PARQUET'\n    )\n    WITH (\n        borough         VARCHAR(15),\n        trip_date       DATE,\n        trip_day        VARCHAR(10),\n        trip_day_weekend_ind CHAR(1),\n        card_trip_count INT,\n        cash_trip_count INT,\n        street_hail_trip_count INT,\n        dispatch_trip_count    INT,\n        trip_distance          FLOAT,\n        trip_duration          INT,\n        fare_amount            FLOAT\n  ) AS [result];"}],"scriptBlockExecutionTimeout":"02:00:00"}}],"policy":{"elapsedTimeMetric":{}},"annotations":[],"lastPublishTime":"2024-01-02T08:46:29Z"},"dependsOn":["[concat(variables('workspaceId'), '/datasets/ds_nyc_taxi_data_dynamic')]"]},{"name":"[concat(parameters('workspaceName'), '/ds_nyc_taxi_data_dynamic')]","type":"Microsoft.Synapse/workspaces/datasets","apiVersion":"2019-06-01-preview","properties":{"linkedServiceName":{"referenceName":"[parameters('ls_synapsedl')]","type":"LinkedServiceReference"},"parameters":{"p_folder_path":{"type":"string"}},"annotations":[],"type":"Parquet","typeProperties":{"location":{"type":"AzureBlobFSLocation","folderPath":{"value":"@dataset().p_folder_path","type":"Expression"},"fileSystem":"nyc-taxi-data"},"compressionCodec":"snappy"},"schema":[]},"dependsOn":[]}]}