syapse_pipelines/pl_create_silver_tables/pl_create_silver_tables.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"workspaceName":{"type":"string","metadata":"Workspace name","defaultValue":"synapseproj-ws"},"dl_serverless_sql_pool_db_nyc_taxi_ldw":{"type":"string"},"ls_synapsedl":{"type":"string"}},"variables":{"workspaceId":"[concat('Microsoft.Synapse/workspaces/', parameters('workspaceName'))]"},"resources":[{"name":"[concat(parameters('workspaceName'), '/pl_create_silver_tables')]","type":"Microsoft.Synapse/workspaces/pipelines","apiVersion":"2019-06-01-preview","properties":{"activities":[{"name":"ForEach Folder Path","type":"ForEach","dependsOn":[],"userProperties":[],"typeProperties":{"items":{"value":"@variables('v_folder_path_usp_name_array')","type":"Expression"},"activities":[{"name":"Delete Silver Folder","type":"Delete","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"dataset":{"referenceName":"ds_nyc_taxi_data_dynamic","type":"DatasetReference","parameters":{"p_folder_path":{"value":"@item().folder_path","type":"Expression"}}},"enableLogging":false,"storeSettings":{"type":"AzureBlobFSReadSettings","recursive":true,"enablePartitionDiscovery":false}}},{"name":"Create Silver Table","type":"SqlServerStoredProcedure","dependsOn":[{"activity":"Delete Silver Folder","dependencyConditions":["Completed"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"storedProcedureName":{"value":"@item().usp_name","type":"Expression"}},"linkedServiceName":{"referenceName":"[parameters('dl_serverless_sql_pool_db_nyc_taxi_ldw')]","type":"LinkedServiceReference"}}]}}],"policy":{"elapsedTimeMetric":{}},"variables":{"v_folder_path":{"type":"String","defaultValue":"silver/taxi_zone"},"v_usp_name":{"type":"String","defaultValue":"silver.usp_silver_taxi_zone"},"v_folder_path_usp_name_array":{"type":"Array","defaultValue":[{"folder_path":"silver/calendar","usp_name":"silver.usp_silver_calendar"},{"folder_path":"silver/taxi_zone","usp_name":"silver.usp_silver_taxi_zone"},{"folder_path":"silver/trip_type","usp_name":"silver.usp_silver_trip_type"},{"folder_path":"silver/vendor","usp_name":"silver.usp_silver_vendor"},{"folder_path":"silver/rate_code","usp_name":"silver.usp_silver_rate_code"},{"folder_path":"silver/payment_type","usp_name":"silver.usp_silver_payment_type"}]}},"annotations":[],"lastPublishTime":"2024-01-02T07:22:19Z"},"dependsOn":["[concat(variables('workspaceId'), '/datasets/ds_nyc_taxi_data_dynamic')]"]},{"name":"[concat(parameters('workspaceName'), '/ds_nyc_taxi_data_dynamic')]","type":"Microsoft.Synapse/workspaces/datasets","apiVersion":"2019-06-01-preview","properties":{"linkedServiceName":{"referenceName":"[parameters('ls_synapsedl')]","type":"LinkedServiceReference"},"parameters":{"p_folder_path":{"type":"string"}},"annotations":[],"type":"Parquet","typeProperties":{"location":{"type":"AzureBlobFSLocation","folderPath":{"value":"@dataset().p_folder_path","type":"Expression"},"fileSystem":"nyc-taxi-data"},"compressionCodec":"snappy"},"schema":[]},"dependsOn":[]}]}