syapse_pipelines/pl_execute_all_pipelines/pl_execute_all_pipelines.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"workspaceName":{"type":"string","metadata":"Workspace name","defaultValue":"synapseproj-ws"},"dl_serverless_sql_pool_db_nyc_taxi_ldw":{"type":"string"},"ls_synapsedl":{"type":"string"}},"variables":{"workspaceId":"[concat('Microsoft.Synapse/workspaces/', parameters('workspaceName'))]"},"resources":[{"name":"[concat(parameters('workspaceName'), '/pl_execute_all_pipelines')]","type":"Microsoft.Synapse/workspaces/pipelines","apiVersion":"2019-06-01-preview","properties":{"activities":[{"name":"Execute Create Silver Tables","type":"ExecutePipeline","dependsOn":[],"userProperties":[],"typeProperties":{"pipeline":{"referenceName":"pl_create_silver_tables","type":"PipelineReference"},"waitOnCompletion":true,"parameters":{}}},{"name":"Execute Silver Create Trip Data Green","type":"ExecutePipeline","dependsOn":[],"userProperties":[],"typeProperties":{"pipeline":{"referenceName":"pl_silver_create_trip_data_green","type":"PipelineReference"},"waitOnCompletion":true,"parameters":{}}},{"name":"Execute Gold Create Trip Data Green","type":"ExecutePipeline","dependsOn":[{"activity":"Execute Create Silver Tables","dependencyConditions":["Succeeded"]},{"activity":"Execute Silver Create Trip Data Green","dependencyConditions":["Succeeded"]}],"userProperties":[],"typeProperties":{"pipeline":{"referenceName":"pl_gold_create_trip_data_green","type":"PipelineReference"},"waitOnCompletion":true,"parameters":{}}},{"name":"Execute Create Gold Trip Data Green Agg","type":"ExecutePipeline","dependsOn":[{"activity":"Execute Silver Create Trip Data Green","dependencyConditions":["Succeeded"]}],"userProperties":[],"typeProperties":{"pipeline":{"referenceName":"pl_create_gold_trip_data_green_agg","type":"PipelineReference"},"waitOnCompletion":true,"parameters":{}}}],"policy":{"elapsedTimeMetric":{}},"annotations":[],"lastPublishTime":"2024-01-02T14:58:59Z"},"dependsOn":["[concat(variables('workspaceId'), '/pipelines/pl_create_silver_tables')]","[concat(variables('workspaceId'), '/pipelines/pl_silver_create_trip_data_green')]","[concat(variables('workspaceId'), '/pipelines/pl_gold_create_trip_data_green')]","[concat(variables('workspaceId'), '/pipelines/pl_create_gold_trip_data_green_agg')]"]},{"name":"[concat(parameters('workspaceName'), '/pl_create_silver_tables')]","type":"Microsoft.Synapse/workspaces/pipelines","apiVersion":"2019-06-01-preview","properties":{"activities":[{"name":"ForEach Folder Path","type":"ForEach","dependsOn":[],"userProperties":[],"typeProperties":{"items":{"value":"@variables('v_folder_path_usp_name_array')","type":"Expression"},"activities":[{"name":"Delete Silver Folder","type":"Delete","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"dataset":{"referenceName":"ds_nyc_taxi_data_dynamic","type":"DatasetReference","parameters":{"p_folder_path":{"value":"@item().folder_path","type":"Expression"}}},"enableLogging":false,"storeSettings":{"type":"AzureBlobFSReadSettings","recursive":true,"enablePartitionDiscovery":false}}},{"name":"Create Silver Table","type":"SqlServerStoredProcedure","dependsOn":[{"activity":"Delete Silver Folder","dependencyConditions":["Completed"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"storedProcedureName":{"value":"@item().usp_name","type":"Expression"}},"linkedServiceName":{"referenceName":"[parameters('dl_serverless_sql_pool_db_nyc_taxi_ldw')]","type":"LinkedServiceReference"}}]}}],"policy":{"elapsedTimeMetric":{}},"variables":{"v_folder_path":{"type":"String","defaultValue":"silver/taxi_zone"},"v_usp_name":{"type":"String","defaultValue":"silver.usp_silver_taxi_zone"},"v_folder_path_usp_name_array":{"type":"Array","defaultValue":[{"folder_path":"silver/calendar","usp_name":"silver.usp_silver_calendar"},{"folder_path":"silver/taxi_zone","usp_name":"silver.usp_silver_taxi_zone"},{"folder_path":"silver/trip_type","usp_name":"silver.usp_silver_trip_type"},{"folder_path":"silver/vendor","usp_name":"silver.usp_silver_vendor"},{"folder_path":"silver/rate_code","usp_name":"silver.usp_silver_rate_code"},{"folder_path":"silver/payment_type","usp_name":"silver.usp_silver_payment_type"}]}},"annotations":[],"lastPublishTime":"2024-01-02T07:22:19Z"},"dependsOn":["[concat(variables('workspaceId'), '/datasets/ds_nyc_taxi_data_dynamic')]"]},{"name":"[concat(parameters('workspaceName'), '/pl_silver_create_trip_data_green')]","type":"Microsoft.Synapse/workspaces/pipelines","apiVersion":"2019-06-01-preview","properties":{"activities":[{"name":"Get Trip Year and Month","type":"Script","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"linkedServiceName":{"referenceName":"[parameters('dl_serverless_sql_pool_db_nyc_taxi_ldw')]","type":"LinkedServiceReference"},"typeProperties":{"scripts":[{"type":"Query","text":"USE nyc_taxi_ldw;\n\nSELECT DISTINCT\n   year,\n  month\nFROM bronze.vw_trip_data_green_csv\nORDER BY year, month;"}],"scriptBlockExecutionTimeout":"02:00:00"}},{"name":"ForEach Year and Month","type":"ForEach","dependsOn":[{"activity":"Get Trip Year and Month","dependencyConditions":["Completed"]}],"userProperties":[],"typeProperties":{"items":{"value":"@activity('Get Trip Year and Month').output.resultSets[0].Rows","type":"Expression"},"isSequential":false,"batchCount":5,"activities":[{"name":"Delete Partition","type":"Delete","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"dataset":{"referenceName":"ds_nyc_taxi_data_dynamic","type":"DatasetReference","parameters":{"p_folder_path":{"value":"silver/trip_data_green/year=@{item().year}/month=@{item().month}","type":"Expression"}}},"enableLogging":false,"storeSettings":{"type":"AzureBlobFSReadSettings","recursive":true,"enablePartitionDiscovery":false}}},{"name":"Create Partition","type":"SqlServerStoredProcedure","dependsOn":[{"activity":"Delete Partition","dependencyConditions":["Completed"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"storedProcedureName":"[[silver].[usp_silver_trip_data_green]","storedProcedureParameters":{"month":{"value":{"value":"@item().month","type":"Expression"},"type":"String"},"year":{"value":{"value":"@item().year","type":"Expression"},"type":"String"}}},"linkedServiceName":{"referenceName":"[parameters('dl_serverless_sql_pool_db_nyc_taxi_ldw')]","type":"LinkedServiceReference"}}]}},{"name":"Create Silver View","type":"Script","dependsOn":[{"activity":"ForEach Year and Month","dependencyConditions":["Completed"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"linkedServiceName":{"referenceName":"[parameters('dl_serverless_sql_pool_db_nyc_taxi_ldw')]","type":"LinkedServiceReference"},"typeProperties":{"scripts":[{"type":"Query","text":"USE nyc_taxi_ldw;"},{"type":"Query","text":"DROP VIEW IF EXISTS silver.vw_trip_data_green;"},{"type":"Query","text":"CREATE VIEW silver.vw_trip_data_green\nAS\nSELECT\n    result.filepath(1) AS year,\n    result.filepath(2) AS month,\n    result.*\nFROM\n    OPENROWSET(\n        BULK 'silver/trip_data_green/year=*/month=*/*.parquet',\n        DATA_SOURCE = 'nyc_taxi_src',\n        FORMAT = 'PARQUET'\n    )\n    WITH (\n        vendor_id INT,\n        lpep_pickup_datetime datetime2(7),\n        lpep_dropoff_datetime datetime2(7),\n        store_and_fwd_flag CHAR(1),\n        rate_code_id INT,\n        pu_location_id INT,\n        do_location_id INT,\n        passenger_count INT,\n        trip_distance FLOAT,\n        fare_amount FLOAT,\n        extra FLOAT,\n        mta_tax FLOAT,\n        tip_amount FLOAT,\n        tolls_amount FLOAT,\n        ehail_fee INT,\n        improvement_surcharge FLOAT,\n        total_amount FLOAT,\n        payment_type INT,\n        trip_type INT,\n        congestion_surcharge FLOAT\n  ) AS [result];"}],"scriptBlockExecutionTimeout":"02:00:00"}}],"policy":{"elapsedTimeMetric":{}},"annotations":[],"lastPublishTime":"2024-01-02T08:36:21Z"},"dependsOn":["[concat(variables('workspaceId'), '/datasets/ds_nyc_taxi_data_dynamic')]"]},{"name":"[concat(parameters('workspaceName'), '/pl_gold_create_trip_data_green')]","type":"Microsoft.Synapse/workspaces/pipelines","apiVersion":"2019-06-01-preview","properties":{"activities":[{"name":"Get Trip Year and Month","type":"Script","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"linkedServiceName":{"referenceName":"[parameters('dl_serverless_sql_pool_db_nyc_taxi_ldw')]","type":"LinkedServiceReference"},"typeProperties":{"scripts":[{"type":"Query","text":"USE nyc_taxi_ldw;\n\nSELECT DISTINCT\n   year,\n  month\nFROM bronze.vw_trip_data_green_csv\nORDER BY year, month;"}],"scriptBlockExecutionTimeout":"02:00:00"}},{"name":"ForEach Year and Month","type":"ForEach","dependsOn":[{"activity":"Get Trip Year and Month","dependencyConditions":["Completed"]}],"userProperties":[],"typeProperties":{"items":{"value":"@activity('Get Trip Year and Month').output.resultSets[0].Rows","type":"Expression"},"isSequential":false,"batchCount":5,"activities":[{"name":"Delete Partition","type":"Delete","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"dataset":{"referenceName":"ds_nyc_taxi_data_dynamic","type":"DatasetReference","parameters":{"p_folder_path":{"value":"gold/trip_data_green/year=@{item().year}/month=@{item().month}","type":"Expression"}}},"enableLogging":false,"storeSettings":{"type":"AzureBlobFSReadSettings","recursive":true,"enablePartitionDiscovery":false}}},{"name":"Create Partition","type":"SqlServerStoredProcedure","dependsOn":[{"activity":"Delete Partition","dependencyConditions":["Completed"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"storedProcedureName":"[[gold].[usp_gold_trip_data_green]","storedProcedureParameters":{"month":{"value":{"value":"@item().month","type":"Expression"},"type":"String"},"year":{"value":{"value":"@item().year","type":"Expression"},"type":"String"}}},"linkedServiceName":{"referenceName":"[parameters('dl_serverless_sql_pool_db_nyc_taxi_ldw')]","type":"LinkedServiceReference"}}]}},{"name":"Create Silver View","type":"Script","dependsOn":[{"activity":"ForEach Year and Month","dependencyConditions":["Completed"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"linkedServiceName":{"referenceName":"[parameters('dl_serverless_sql_pool_db_nyc_taxi_ldw')]","type":"LinkedServiceReference"},"typeProperties":{"scripts":[{"type":"Query","text":"USE nyc_taxi_ldw;"},{"type":"Query","text":"DROP VIEW IF EXISTS gold.vw_trip_data_green;"},{"type":"Query","text":"CREATE VIEW gold.vw_trip_data_green\nAS\nSELECT\n    result.filepath(1) AS year,\n    result.filepath(2) AS month,\n    result.*\nFROM\n    OPENROWSET(\n        BULK 'gold/trip_data_green/year=*/month=*/*.parquet',\n        DATA_SOURCE = 'nyc_taxi_src',\n        FORMAT = 'PARQUET'\n    )\n    WITH (\n        borough         VARCHAR(15),\n        trip_date       DATE,\n        trip_day        VARCHAR(10),\n        trip_day_weekend_ind CHAR(1),\n        card_trip_count INT,\n        cash_trip_count INT,\n        street_hail_trip_count INT,\n        dispatch_trip_count    INT,\n        trip_distance          FLOAT,\n        trip_duration          INT,\n        fare_amount            FLOAT\n  ) AS [result];"}],"scriptBlockExecutionTimeout":"02:00:00"}}],"policy":{"elapsedTimeMetric":{}},"annotations":[],"lastPublishTime":"2024-01-02T08:46:29Z"},"dependsOn":["[concat(variables('workspaceId'), '/datasets/ds_nyc_taxi_data_dynamic')]"]},{"name":"[concat(parameters('workspaceName'), '/pl_create_gold_trip_data_green_agg')]","type":"Microsoft.Synapse/workspaces/pipelines","apiVersion":"2019-06-01-preview","properties":{"activities":[{"name":"Create Gold Trip Data Green Agg","type":"SynapseNotebook","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"notebook":{"referenceName":"1_spark_create_gold_trip_data_green_agg","type":"NotebookReference"},"snapshot":true,"sparkPool":{"referenceName":"synapsepool","type":"BigDataPoolReference"},"executorSize":"Small","conf":{"spark.dynamicAllocation.enabled":false,"spark.dynamicAllocation.minExecutors":1,"spark.dynamicAllocation.maxExecutors":1},"driverSize":"Small","numExecutors":1}}],"policy":{"elapsedTimeMetric":{}},"annotations":[],"lastPublishTime":"2024-01-02T14:58:35Z"},"dependsOn":["[concat(variables('workspaceId'), '/notebooks/1_spark_create_gold_trip_data_green_agg')]","[concat(variables('workspaceId'), '/bigDataPools/synapsepool')]"]},{"name":"[concat(parameters('workspaceName'), '/1_spark_create_gold_trip_data_green_agg')]","type":"Microsoft.Synapse/workspaces/notebooks","apiVersion":"2019-06-01-preview","properties":{"nbformat":4,"nbformat_minor":2,"bigDataPool":{"referenceName":"synapsepool","type":"BigDataPoolReference"},"sessionProperties":{"driverMemory":"28g","driverCores":4,"executorMemory":"28g","executorCores":4,"numExecutors":2,"runAsWorkspaceSystemIdentity":false,"conf":{"spark.dynamicAllocation.enabled":"false","spark.dynamicAllocation.minExecutors":"2","spark.dynamicAllocation.maxExecutors":"2","spark.autotune.trackingId":"966057d1-fa8f-40b0-89dd-a2802a219c2a"}},"metadata":{"saveOutput":true,"enableDebugMode":false,"kernelspec":{"name":"synapse_pyspark","display_name":"Synapse PySpark"},"language_info":{"name":"python"},"a365ComputeOptions":{"id":"/subscriptions/66abe16b-9144-4a86-a3de-208a975964b5/resourceGroups/synapse-rg/providers/Microsoft.Synapse/workspaces/synapseproj-ws/bigDataPools/synapsepool","name":"synapsepool","type":"Spark","endpoint":"https://synapseproj-ws.dev.azuresynapse.net/livyApi/versions/2019-11-01-preview/sparkPools/synapsepool","auth":{"type":"AAD","authResource":"https://dev.azuresynapse.net","authHeader":null},"sparkVersion":"3.3","nodeCount":3,"cores":4,"memory":28,"extraHeader":null},"sessionKeepAliveTimeout":30},"cells":[{"cell_type":"markdown","metadata":{"nteract":{"transient":{"deleting":false}}},"source":["## Trip Data Aggregation \n","### Group By Columns\n","1. year\n","2. Month\n","3. Pickup Location ID\n","4. Drop Off Location ID\n","\n","### Aggregated Columns\n","1. Total Trip Count\n","2. Total Fare Amount\n","\n","### Purpose of the notebook\n","\n","Demonstrate the integration between Spark Pool and Serverless SQL Pool\n","\n","1. Create the aggregated table in Spark Pool\n","2. Access the data from Serverless SQL Pool "]},{"cell_type":"code","metadata":{"jupyter":{"source_hidden":false,"outputs_hidden":false},"nteract":{"transient":{"deleting":false}}},"source":["#Set the folder paths so that it can be used later.\n","\n","bronze_folder_path = 'abfss://nyc-taxi-data@synapseprojdl.dfs.core.windows.net/raw'\n","silver_folder_path = 'abfss://nyc-taxi-data@synapseprojdl.dfs.core.windows.net/silver'\n","gold_folder_path = 'abfss://nyc-taxi-data@synapseprojdl.dfs.core.windows.net/gold'"],"outputs":[],"execution_count":8},{"cell_type":"code","metadata":{"jupyter":{"source_hidden":false,"outputs_hidden":false},"nteract":{"transient":{"deleting":false}}},"source":["#Set the spark config to be able to get the partitioned columns year and month as strings rather than integers\n","spark.conf.set(\"spark.sql.sources.partitionColumnTypeInference.enabled\", \"false\")"],"outputs":[],"execution_count":9},{"cell_type":"code","metadata":{"jupyter":{"source_hidden":false,"outputs_hidden":false},"nteract":{"transient":{"deleting":false}},"microsoft":{"language":"sparksql"},"collapsed":false},"source":["%%sql\n","\n","-- Create database to which we are going to write the data\n","\n","CREATE DATABASE IF NOT EXISTS nyc_taxi_ldw_spark\n","LOCATION 'abfss://nyc-taxi-data@synapseprojdl.dfs.core.windows.net/gold';"],"outputs":[],"execution_count":10},{"cell_type":"code","metadata":{"jupyter":{"source_hidden":false,"outputs_hidden":false},"nteract":{"transient":{"deleting":false}}},"source":["# Read the silver data to be processed. \n","trip_data_green_df = spark.read.parquet(f\"{silver_folder_path}/trip_data_green\") "],"outputs":[],"execution_count":11},{"cell_type":"code","metadata":{"jupyter":{"source_hidden":false,"outputs_hidden":false},"nteract":{"transient":{"deleting":false}}},"source":["# Perform the required aggregations\n","# 1. Total trip count\n","# 2. Total fare amount\n","from pyspark.sql.functions import *\n","\n","trip_data_green_agg_df = trip_data_green_df \\\n","                        .groupBy(\"year\", \"month\", \"pu_location_id\", \"do_location_id\") \\\n","                        .agg(count(lit(1)).alias(\"total_trip_count\"),\n","                        round(sum(\"fare_amount\"), 2).alias(\"total_fare_amount\"))"],"outputs":[],"execution_count":12},{"cell_type":"code","metadata":{"jupyter":{"source_hidden":false,"outputs_hidden":false},"nteract":{"transient":{"deleting":false}}},"source":["# Write the aggregated data to the gold table for consumption\n","\n","trip_data_green_agg_df.write.mode(\"overwrite\").partitionBy(\"year\", \"month\").format(\"parquet\").saveAsTable(\"nyc_taxi_ldw_spark.trip_data_green_agg\")"],"outputs":[],"execution_count":13}]},"dependsOn":[]},{"name":"[concat(parameters('workspaceName'), '/synapsepool')]","type":"Microsoft.Synapse/workspaces/bigDataPools","apiVersion":"2019-06-01-preview","properties":{"autoPause":{"enabled":true,"delayInMinutes":5},"autoScale":{"enabled":false,"maxNodeCount":0,"minNodeCount":0},"nodeCount":3,"nodeSize":"Small","nodeSizeFamily":"MemoryOptimized","sparkVersion":"3.3","isComputeIsolationEnabled":false,"sessionLevelPackagesEnabled":true,"annotations":[]},"dependsOn":[],"location":"uksouth"},{"name":"[concat(parameters('workspaceName'), '/ds_nyc_taxi_data_dynamic')]","type":"Microsoft.Synapse/workspaces/datasets","apiVersion":"2019-06-01-preview","properties":{"linkedServiceName":{"referenceName":"[parameters('ls_synapsedl')]","type":"LinkedServiceReference"},"parameters":{"p_folder_path":{"type":"string"}},"annotations":[],"type":"Parquet","typeProperties":{"location":{"type":"AzureBlobFSLocation","folderPath":{"value":"@dataset().p_folder_path","type":"Expression"},"fileSystem":"nyc-taxi-data"},"compressionCodec":"snappy"},"schema":[]},"dependsOn":[]}]}